.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}